<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Garage
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/vehicle/add']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Garage</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="garage-container">
    @if (isLoading()) {
    <div class="loading-container">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Loading vehicles...</p>
    </div>
    } @else if (vehicles().length === 0) {
    <div class="empty-state">
      <ion-icon name="car-sport-outline"></ion-icon>
      <h2>No Vehicles Yet</h2>
      <p>Add your first vehicle to get started</p>
      <ion-button [routerLink]="['/tabs/vehicle/add']" color="primary">
        <ion-icon name="add" slot="start"></ion-icon>
        Add Vehicle
      </ion-button>
    </div>
    } @else {
    <div class="vehicles-grid">
      @for (vehicle of vehicles(); track vehicle.id) {
      <ion-card class="vehicle-card">
        <ion-card-header [routerLink]="['/tabs/vehicle/edit', vehicle.id]">
          <div class="card-title-row">
            <ion-icon name="car-sport-outline" color="primary"></ion-icon>
            <ion-card-title>{{ getDisplayName(vehicle) }}</ion-card-title>
          </div>
          <p class="vehicle-details">{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</p>
          @if (vehicle.license_plate) {
          <ion-note color="medium">{{ vehicle.license_plate }}</ion-note>
          }
        </ion-card-header>
        <ion-card-content>
          <div class="vehicle-stats">
            <div class="stat">
              <ion-icon name="speedometer-outline"></ion-icon>
              <span>{{ formatOdometer(vehicle) }}</span>
            </div>
          </div>
          <ion-button expand="block" (click)="openFuelLogModal(vehicle, $event)" color="primary">
            <ion-icon name="water-outline" slot="start"></ion-icon>
            Log Fuel
          </ion-button>
        </ion-card-content>
      </ion-card>
      }
    </div>
    }
  </div>
</ion-content>